<div style="    text-align: center;
border-bottom: 1px solid white;
max-width: 90%;
margin: auto;
padding-top: 20px;">
    <label style="color:white;">Event Time</label>
</div>

<div class="container">
    <div class="row" style="background-color: blueviolet;background-color: #6b56b1;
    border-radius: 10px;
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 10%;">
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/avatar.png" width="130%">
        </div>
        <div class="col-6" style="color: white;align-items: center;display: flex;justify-content: center;">
            <div>
                <label style="font-size: 16px;margin:auto">İstanbul/Ümraniye</label>
                <label style="font-size: 13px;">Halı saha buluşması</label>
            </div>
        </div>
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/spor.png" width="105%">
        </div>
    </div>
    <div class="row" style="background-color: blueviolet;background-color: #6b56b1;
    border-radius: 10px;
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 10%;">
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/avatar.png" width="130%">
        </div>
        <div class="col-6" style="color: white;align-items: center;display: flex;justify-content: center;">
            <div>
                <label style="font-size: 16px;margin:auto">İstanbul/Ümraniye</label>
                <label style="font-size: 13px;">Halı saha buluşması</label>
            </div>
        </div>
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/spor.png" width="105%">
        </div>
    </div>
    <div class="row" style="background-color: blueviolet;background-color: #6b56b1;
    border-radius: 10px;
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 10%;">
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/avatar.png" width="130%">
        </div>
        <div class="col-6" style="color: white;align-items: center;display: flex;justify-content: center;">
            <div>
                <label style="font-size: 16px;margin:auto">İstanbul/Ümraniye</label>
                <label style="font-size: 13px;">Halı saha buluşması</label>
            </div>
        </div>
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/spor.png" width="105%">
        </div>
    </div>
    <div class="row" style="background-color: blueviolet;background-color: #6b56b1;
    border-radius: 10px;
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 10%;">
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/avatar.png" width="130%">
        </div>
        <div class="col-6" style="color: white;align-items: center;display: flex;justify-content: center;">
            <div>
                <label style="font-size: 16px;margin:auto">İstanbul/Ümraniye</label>
                <label style="font-size: 13px;">Halı saha buluşması</label>
            </div>
        </div>
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/spor.png" width="105%">
        </div>
    </div>
    <div class="row" style="background-color: blueviolet;background-color: #6b56b1;
    border-radius: 10px;
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 10%;">
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/avatar.png" width="130%">
        </div>
        <div class="col-6" style="color: white;align-items: center;display: flex;justify-content: center;">
            <div>
                <label style="font-size: 16px;margin:auto">İstanbul/Ümraniye</label>
                <label style="font-size: 13px;">Halı saha buluşması</label>
            </div>
        </div>
        <div class="col-3" style="align-items: center;display: flex;justify-content: center;">
            <img src="../assets/images/spor.png" width="105%">
        </div>
    </div>
</div>

<div class="navbar">
    <a href="activity-page" class="active">Anasayfa</a>
    <a href="activity-page" >Etkinliklerim</a>
    <a href="activity-page">Mesajlarım</a>
    <a href="activity-page">Profil</a>
</div>
<div class="main">
</div>