<div style="text-align: center;margin-top: 20%;">
    <img src="../assets/images/eventLogo.png" width="70%">
  </div>
  
  <div style="max-width: 80%;
  margin: auto;
  margin-top: 10%;">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" style="color: white;">E-Posta</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" style="color: white;">Şifre</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <label for="exampleInputPassword1" style="color: white;float: right;
        font-size: 13px;margin-top: 3%;">Şifremi Unuttum </label>
      </div>
      <div style="text-align: center;margin-top:12%;">
        <div>
          <button type="submit" class="btn btn-primary btn-lg customButton" (click)="goHome()">Giriş</button>
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-lg customButton" (click)="goRegister()">Kaydol</button>
        </div>
      </div>
    </form>
  </div>