<div style="    text-align: center;
border-bottom: 1px solid white;
max-width: 90%;
margin: auto;
padding-top: 20px;">
  <label style="color:white;">Event Time</label>
</div>

<div style="text-align: center;margin-top: 10%;">
    <img src="../assets/images/avatar.png" width="35%">
</div>

<div style="max-width: 80%;
  margin: auto;
  margin-top: 10%;">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: white;">Ad Soyad</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: white;">E-Posta</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: white;">Şifre</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="color: white;">Yeniden Şifre</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary btn-lg customButton">Kaydol</button>
        </div>
    </form>
</div>